[2020-08-28 18:42] PaulieScanlon opened #7 "Migration - grunt work"
The current plugin `gatsby-mdx-embed` uses Storybook v5 `.stories.mdx` The new project `mdx-embed` uses the laster version of Storybook v6

There are some difference between how components and prop tables are defined between the two versions.

eg v5 Storybook CodePen stories.mdx looks like this

[code]

BUT v6 Storybook CodePen stories.mdx looks like this

[code]

A few things to note are the diff

[2020-08-29 09:03] spences10 commented on #7
Sounds super!

So you want a PR for each component?

I was thinking about doing it all in one branch, but guessing your approach will be a good test my tolerance! 😂

I'll make a feature branch to add YouTube, cheers buddy!

[2020-08-29 09:34] PaulieScanlon opened #9 "MDX Embed Logo"
I'm working with [Griko Nibras](https://twitter.com/griko_nibras) to come up with a new logo that looks and feels like part of the MDX family,

I've spoken with [John Otander](https://twitter.com/4lpine) on Twitter and he's cool for us to do this, all he really expressed was that he think the logo should look and feel like it's part MDX.... not the "pink monstrosity" that i designed the first time

[2020-08-29 09:35] PaulieScanlon commented on #9
Here's a link to the current Figma boards

- [MDX Logos](https://www.figma.com/file/XJZNM7jgDNUE9b0gkrx4Xi/MDX-Logos)

and for reference here's the MDX Next logo

- [MDX Next](https://www.figma.com/proto/XJZNM7jgDNUE9b0gkrx4Xi/MDX-Logos?node-id=10%3A2&scaling=min-zoom)

[2020-08-29 12:06] PaulieScanlon opened #12 "Gather Testimonials"
It would be cool if we could get some quotes or comments from some of the more influential users of MDX Embed. @molebox wondering if you might like to have a word with some of the Party Corgi people?

I like what Theme UI did on their homepage... _and not just because i've been quoted_
- [Theme UI](https://theme-ui.com/home)

[2020-08-29 12:07] molebox commented on #12
Sure I can ask a few people

[2020-08-29 12:32] PaulieScanlon commented on #12
@molebox there he is! cool thanks mate!

[2020-08-29 16:34] PaulieScanlon opened #20 "favicon + og-image"
- Use the symbol for the favicon
- Probably just use the logo on white for the og-image
- Also use the same og-image for the repo image

[2020-08-30 08:51] spences10 commented on #7
Closing 😅

[2020-08-30 08:52] spences10 commented on #7
Forgot about #27 🤦‍♀️

[2020-08-31 15:29] spences10 commented on #7
This closed with #27 now @PaulieScanlon?

[2020-09-01 07:11] PaulieScanlon commented on #7
@spences10 yeah, Flickr was the last one to go it. This can now be closed!

[2020-09-01 09:31] #7 closed

[2020-09-01 13:30] vvo opened #44 "Usage with next-mdx-enhanced"
Hi there, I'd like to use your module with https://github.com/hashicorp/next-mdx-enhanced but have failed for now.

I tried to use MDXEmbedProvider inside a layouts/post.js but always getting the error: Component Tweet was not imported, exported, or provided by MDXProvider as global scope. Any idea on how to make it work? Thanks!

[2020-09-01 16:39] PaulieScanlon commented on #44
Hi @vvo We've just released `v0.0.4` i think you were a bit too fast for us.. `v.0.0.1 - v.0.0.3` didn't actually have any components exported we were just testing the lerna publish stuff... give `0.0.4` and try and please do let us know how you get on.

[2020-09-01 17:53] PaulieScanlon commented on #12
I've got one from Laurie Barth. She also suggested perhaps reaching out to Prince. I don't think i've spoken to him, have you @molebox ?

[2020-09-02 13:27] vvo commented on #44
Hey there, I still do not know how where to use MDXEmbedProvider when using next-mdx-enhanced. In the end I just used a regular React component inside my mdx code and it worked. This is not a failure of your library, I was just completely lost in mdx/provider :D

[2020-09-02 13:27] #44 closed

[2020-09-02 13:38] PaulieScanlon commented on #44
@vvo no worries. We're still a bit unsure about where the `MDXEmbedProvider` should live in a Next app. Probably somewhere near the `MDXProvider` or `MDXRenderer` but having not looked in to this myself yet i don't know. If you do get this working though we'd love to see your repo?

[2020-09-02 16:09] PaulieScanlon commented on #12
I've spoken with Monica on Discord who has kindly agreed to write a few words. I'll check back in with her next week to see where we're at.

[2020-09-02 16:12] PaulieScanlon opened #51 "gatsby-plugin-mdx-embed README"
The contents for this README will be pretty much a copy past of the [Gatsby Plugin](https://www.mdx-embed.com/?path=/docs/gatsby-plugin--page) but the README in packages/gatsby-plugin-mdx-embed will need to have some content otherwise it'll appear blank on [npm](https://www.npmjs.com/package/gatsby-plugin-mdx-embed) and most likely blank on the Gatsby [plugins page](https://www.gatsbyjs.com/plugin

[2020-09-02 16:14] PaulieScanlon opened #52 "mdx-embed README"
I don't really know what to do with this README. The install /setup instructions could be very different between applications. MDX Deck for instance has a specific way to use it, no doubt Next and Toast will too. I'll have a think about what should go in this README. perhaps just generic install instructions then links to the docs where more specific framework instructions can be found?

[2020-09-02 16:34] #51 closed

[2020-09-02 16:51] #52 closed

[2020-09-02 18:33] spences10 commented on #12
![image](https://user-images.githubusercontent.com/234708/92022446-2f4f0e00-ed53-11ea-8ead-00a686e359c5.png)

[2020-09-02 21:36] PaulieScanlon opened #57 "General Observer - intersectionRatio"
Following on from [#47](https://github.com/PaulieScanlon/gatsby-mdx-embed/commit/c8d4dd7371d6d14d63b0ebdbd12f50454b5b894c) in the old repo where [Alex](https://github.com/a-trost) made an update to the `GeneralObserver` component and added an optional `height` prop along with an `intersectionRatio` change which accidentally got skipped during the migration. I'll manually add this back in because i

[2020-09-02 21:37] #20 closed

[2020-09-02 21:40] PaulieScanlon commented on #12
@spences10 oh bless you! i did see that in Discord. Fair play to Prince though, he's an honest John! Thanks for trying.

We'll gather quotes from legit users in time for sure!

[2020-09-03 16:09] PaulieScanlon opened #59 "Twitch Player not working"
On the docs site despite the `parent` being set the Twitch videos aren't loading. Needs investigating

[2020-09-03 16:12] PaulieScanlon opened #60 "Storybook prop descriptions not displaying"
Just noticed that since the upgrade to Storybook 6 the prop descriptions that come from the individual components interfaces do come through in the ArgsTable in the story. It might just be a formatting thing. They are all just displaying as "unknown" it could be a setting with [react-docgen-typescrip](https://github.com/styleguidist/react-docgen-typescript/)

[2020-09-03 16:26] PaulieScanlon commented on #60
sorted! it was where i'd accidentally exported the `.js` files to `src` rather than `dist`

[2020-09-03 16:26] #60 closed

[2020-09-03 16:44] PaulieScanlon commented on #59
fixed by added `www` in front of the url

[2020-09-03 16:44] #59 closed

[2020-09-03 16:54] PaulieScanlon opened #63 "Twitch Optional TwitchId"
The `twitchId` prop has been made optional so that the component can work if you wish to use it for channel or collection but the url string still attempts to insert it even though it could be `undefined` The URL string should probably be constructed in a better way so that if `twitchId` isn't provided it won't get added

Similar sort of issue with the `title` in the iFrame where we use  ` title={

[2020-09-04 10:31] #57 closed

[2020-09-04 10:52] daisygabi commented on #63
Hi, I would like to work on this. I am stuck on how to add the libraries locally so I can work on the change in code. I tried firstly adding 'gatsby-plugin-mdx-embed' as a local plugin but needing mdx-embed (where the modification would be like) I thought that I` yarn build` after each modification and add the binaries in node_modules of the gatsby project would work. But it doesn't.

I must say i

[2020-09-04 10:57] PaulieScanlon commented on #63
Hey Gabi, you're very welcome to give this a go. I'd suggest forking this repo.

Once you have it locally you can run `yarn` or `npm i` to install all the dependencies then you can run `yarn storybook` or `npm run storybook` which will spin up our Storybook development environment. Once you're happy with the changes feel free to create a PR.

[2020-09-04 12:32] daisygabi commented on #63
Hi, I have stumbled upon a new error trying to run `yarn storybook` (below is the stack trace for reference). In that .preview.js IntelliJ is warning me that "import { MDXEmbedProvider } from 'mdx-embed';" mdx-embed is not found, even though it does exist in the packages folder. If you have some pointers, it will help. Thanks.

`ERROR in ./.storybook/preview.js
Module not found: Error: Can't resol

[2020-09-04 12:56] PaulieScanlon commented on #63
@daisygabi Hey, sorry there is one more thing you'll need to do after installing the dependancies... apologies i should have mentioned this earlier... if you run `yarn build` or `npm run build` that will create the `mdx-embed` `dist` directory in `packages/mdx-embed`... i'll make a note to add that to our contribution guide!

[2020-09-05 02:09] elijahmanor commented on #44
@vvo @PaulieScanlon Inside your Layout file you can use the `MDXEmbedProvider` around the `children`

[code]

[2020-09-05 06:03] PaulieScanlon commented on #44
@molebox FYI

[2020-09-07 02:17] ehowey opened #69 "Why is gatsby v 2.24.50 a peer dependency?"
**Describe the bug**
When installing mdx-embed I get a warning:

[code]
Is there a reason you need such a recent version of Gatsby or can you back out to an earlier version?

[2020-09-07 15:31] PaulieScanlon commented on #69
@ehowey that's a good question. I think in my haste to migrate this i just left it as the version installed by default. This can probably be a must earlier version since there's nothing really to the plugin. Leave it with me and i'll change that in the next release. Ty for letting us know!

[2020-09-07 15:49] PaulieScanlon commented on #69
drop Gatsby dep in PR [#70](https://github.com/PaulieScanlon/mdx-embed/pull/70)

[2020-09-07 15:49] #69 closed

[2020-09-07 17:11] ehowey commented on #69
Nice thanks Paul. Figured that was the case but didn’t want to merge until I was sure as I am not on that release of Gatsby yet!
On Sep 7, 2020, 9:49 AM -0600, Paul Scanlon <notifications@github.com>, wrote:

[2020-09-07 17:46] PaulieScanlon commented on #63
resolved in [#68](https://github.com/PaulieScanlon/mdx-embed/pull/68)

[2020-09-07 17:46] #63 closed

[2020-09-07 17:47] #9 closed

[2020-09-08 09:16] PaulieScanlon opened #71 "Testing Umbrella Issue - Hacktoberfest"
# ⛱️ Testing Umbrella Issue - Hacktoberfest

The time is right. We're now on to the last leg of the migration and something i never got round to in the [old repo](https://github.com/PaulieScanlon/gatsby-mdx-embed) was adding a test suite.

## 🚀 Getting Started

If you're interested in helping out with tests and taking part in [Hacktoberfest](https://hacktoberfest.digitalocean.com/) please comment

[2020-09-08 11:15] PaulieScanlon commented on #71
testing suite merged in [#72 ]

[2020-09-08 15:59] PaulieScanlon commented on #71
Test suite is now in place but the following components will all needs tests at some point:

## Component List

- [ ] Airtable
- [ ] Buzzprout
- [x] CodePen
- [ ] CodeSandbox
- [ ] Egghead
- [ ] Flickr
- [ ] Gist
- [ ] Instagram
- [ ] Lbry
- [ ] Pinterest
- [ ] Simplecast
- [ ] SoundCloud
- [ ] Spotify
- [ ] Strava
- [ ] TikTok
- [ ] Twitch
- [ ] Twitter
- [ ] Vimeo
- [ ] Wikipedia
- [ ] YouTube

[2020-09-09 08:13] PaulieScanlon opened #74 "Coding Style Guide"
We have in the repo `eslint` and `prettier` which gets us some of the way to ensuring code consistency but there are a number of other areas where a coding style guide would be helpful for contributors. Some things that sprint to mind are as follows:

- Uses `FunctionComponent`
- Uses Pure functions
- Doesn't use Classes
- Exports are named / not default
- utils fare sometimes co-located and large

[2020-09-09 13:01] PaulieScanlon opened #77 "Deploy "examples""
After speaking with @molebox it's probably a good idea to get each of the examples deployed somewhere and from here in Storybook docs we can advise users on how to install MDX Embed for each of the examples, point them to both a dir in the repo and an online site

The current examples are:

- [ ] gatsby-demo
- [ ] mdx-deck-demo
- [ ] next-mdx-deck-demo
- [ ] next-mdx-demo

Once i've worked out how

[2020-09-09 15:41] PaulieScanlon commented on #77
I gave this a go and created a new site from Git in Netlify and pointed the build command at build command in root `package.json` and set the publish dir to `examples/gatsby-demo`

but...

The build keeps failing complaining it can't find the `mdx-embed` package... i don't know why this? the `*` should just mean it installs from npm right? or does it need a version number if it can't resolve the `

[2020-09-09 18:20] PaulieScanlon commented on #71
I've hit a bit of a road block using Jest and Testing Library and whilst i think we can have a unit test for each of the above It doesn't really fully test the component.

The "real" test is that all of the props and bits we've introduced will always be properly passed on and a 3rd party embedded able widget will be rendered in the DOM.

It's looking like it's not going to be possible to write a u

[2020-09-09 19:37] PaulieScanlon opened #79 "Stream run down"
Ahoy @spences10.

In preparation for "The Big Stream" which i'm primarily thinking will help us out for Hacktoberfest but could also be useful to record and pop somewhere for future reference i'd like to run through how to get started with contributing to the project.

Not necessarily in this order but here's some things i think we should try and cover on stream

- Forking the repo
- Install depen

[2020-09-10 10:37] spences10 opened #81 "Detail using specific components in an MDXProvider"
In the docs:

[code]

Say if the user only wants to use the the `<CodePen />` and `<Gist />` components, they're not tied into using the `MDXEmbedProvider` so I think it should be made clear, something along the lines of:

Only want to use a couple of components from MDX Embed, you can import only the components you need into the `MDXProvider`

[code]

[2020-09-10 12:47] PaulieScanlon commented on #81
@spences10 yeah lovely idea mate!

[2020-09-10 20:56] zslabs opened #83 "404 page being overridden"
**Describe the bug**
👋 Can https://github.com/PaulieScanlon/mdx-embed/blob/main/packages/gatsby-plugin-mdx-embed/src/pages/404.js be removed? I'm not sure of its purpose, but this is overriding the default 404 page on my site. I reverted to `@pauliescanlon/gatsby-mdx-embed` that doesn't have this to resolve the issue.

cc @PaulieScanlon

**To Reproduce**
Steps to reproduce the behavior:
1. Install

[2020-09-11 05:46] PaulieScanlon commented on #83
@zslabs Hey, thanks for opening the issue and yes... that 404 page shouldn’t be part of the package. In fact I don’t think there should even be a ‘src/pages’ dir at all... unless Gatsby throws errors?

Leave it with me and I’ll sort it and release an update shortly.

[2020-09-11 09:05] PaulieScanlon commented on #83
PR raised: [#84 ]

[2020-09-11 12:04] zslabs commented on #83
Great, thanks! I agree, there shouldn't be a need for the src folder at all. Appreciate you taking a look!

[2020-09-11 16:10] PaulieScanlon commented on #83
Resolved by [#84]

[2020-09-11 16:11] PaulieScanlon commented on #83
@zslabs Hey mate, i've just released `v0.0.13`... lucky for some!

Would you mind upgrading and letting me know if it's sorted... i'l keep the issue open for now.

[2020-09-11 16:14] PaulieScanlon commented on #77
Ok i know what this is now...

When i was deploying to Netlify i wasn't building the package. All the demo use `"mdx-embed" "*"` which will resolve to `mdx-embed/dist` but when deploying the `dist` dir isn't there 🤦 so a `yarn build` needs to be part of the Netlify `.toml` so the package is built... i'll give this another stab later to check that is what the problem is

[2020-09-11 20:43] zslabs commented on #83
@PaulieScanlon Yep that did it, thanks!

[2020-09-11 20:43] #83 closed

[2020-09-15 10:58] PaulieScanlon commented on #71
Just spilling my mind a bit in preparation for creating multiple issues for [Hacktoberfest](https://hacktoberfest.digitalocean.com/)

There's two different types of tests we'd like contributors to focus on, they are at the moment fairly simple tests. There is every chance contributors with more expertise in testing will advise on what should or shouldn't be tested.

I'm open to suggestions but at

[2020-09-18 15:44] PaulieScanlon commented on #81
addressed in [#90]

[2020-09-18 15:44] #81 closed

[2020-09-18 16:17] PaulieScanlon opened #91 "cinnamon-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-18 17:07] PaulieScanlon opened #92 "cinnamon-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:40] PaulieScanlon opened #93 "airtable-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:41] PaulieScanlon opened #94 "airtable-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:42] PaulieScanlon opened #95 "buzzsprout-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:43] PaulieScanlon opened #96 "buzzsprout-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:43] PaulieScanlon opened #97 "codesandbox-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:44] PaulieScanlon opened #98 "codesandbox-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:45] PaulieScanlon opened #99 "egghead-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:45] PaulieScanlon opened #100 "egghead-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:46] PaulieScanlon opened #101 "flickr-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:46] PaulieScanlon opened #102 "flickr-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:47] PaulieScanlon opened #103 "gist-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:47] PaulieScanlon opened #104 "gist-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:48] PaulieScanlon opened #105 "instagram-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:48] PaulieScanlon opened #106 "instagram-intergration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:48] PaulieScanlon opened #107 "lbry-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:49] PaulieScanlon opened #108 "lbry-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:50] PaulieScanlon opened #109 "pinterest-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:50] PaulieScanlon opened #110 "pinterest-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:51] PaulieScanlon opened #111 "simplecast-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:51] PaulieScanlon opened #112 "simplecast-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:52] PaulieScanlon opened #113 "soundcloud-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:52] PaulieScanlon opened #114 "soundcloud-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:52] PaulieScanlon opened #115 "spotify-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:53] PaulieScanlon opened #116 "spotify-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:53] PaulieScanlon opened #117 "strava-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:53] PaulieScanlon opened #118 "strava-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:54] PaulieScanlon opened #119 "tiktok-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:54] PaulieScanlon opened #120 "tiktok-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:55] PaulieScanlon opened #121 "twitch-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:55] PaulieScanlon opened #122 "twitch-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:55] PaulieScanlon opened #123 "twitter-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:56] PaulieScanlon opened #124 "twitter-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:56] PaulieScanlon opened #125 "vimeo-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:56] PaulieScanlon opened #126 "vimeo-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:57] PaulieScanlon opened #127 "wikipedia-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:57] PaulieScanlon opened #128 "wikipedia-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 08:58] PaulieScanlon opened #129 "youtube-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 08:58] PaulieScanlon opened #130 "youtube-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-09-20 13:53] PaulieScanlon opened #134 "mdx-embed-provider-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-09-20 14:37] PaulieScanlon commented on #134
[#135]

[2020-09-20 18:21] #134 closed

[2020-09-22 07:57] PaulieScanlon opened #138 "storybook-addon-mdx-embed"
**Is your feature request related to a problem? Please describe.**
[Dom](https://twitter.com/domyen) from Storybook has been in contact asking if there was an easy way to use MDX Embed with Storybook / docs. There is and it's the way we use it for the [docs site](https://mdx-embed.com) but it is a little tricky to setup.

**Describe the solution you'd like**
Ideally MDX Embed would create a packag

[2020-09-22 08:01] PaulieScanlon commented on #138
I've pinged Michael in the Storybook Discord channel and sent him a link to this issue. Excited to see if it's going to be possible... hang tight.

[2020-09-22 09:28] shilman commented on #138
@PaulieScanlon yes this is possible. we don't have an API for it per se (we might want to add it in the future?), but you can achieve this with standard Storybook APIs.

The preset should add a `config` entry that adds the parameters, and possibly registers the addon in the manager (only if the addon needs registering -- I don't think that's needed in this case). Example here:

https://github.com/

[2020-09-22 09:51] PaulieScanlon commented on #138
@shilman Wow! thanks Michael! This super helpful! It's given me a few things to investigate but its great to know this kind of thing is going to be possible!! Mega stuff, and i'll no doubt be in touch if i have any further questions!

Thanks again!!

[2020-09-22 12:13] PaulieScanlon commented on #138
@shilman Hi again... i've made _some_ progress... no errors which is a good thing but i don't think i'm exporting the preset correctly or in fact if anything i'm doing is correct here but, below is a demo repo i've been tinkering with.

**Demo Repo**
[storybook-preset-mdx-embed](https://github.com/PaulieScanlon/storybook-preset-mdx-embed)

The `docs` workspace is a standard Storybook (React) setup

[2020-09-22 12:20] shilman commented on #138
You need two separate files. One that exports a config entry pointing to the second. And the second file  that exports a `parameters` object. You're trying to combine them into one, but it won't work that way. Use addon-backgrounds as a template.

[2020-09-22 12:41] PaulieScanlon commented on #138
@shilman Boogy time, it worked!!!!

This is so cool, and apologies, i did see you comments about `addon-background` and missed the bit about separating the parameters and config exports.

<img width="1341" alt="Screenshot 2020-09-22 at 13 38 57" src="https://user-images.githubusercontent.com/1465706/93883082-fdd5bc80-fcd8-11ea-8a53-077a18f43b90.png">

[2020-09-22 12:42] shilman commented on #138
Woohoo!!! 🥰

[2020-09-22 12:45] PaulieScanlon commented on #138
@shilman no worries at all mate! One last question.... naming things is hard. Would the convention (before i release it on npm) for this package be

[code]

[2020-09-22 12:49] shilman commented on #138
Thanks for checking. We switched conventions mid stream. Originally we distinguished presets and addons and there's still some leftovers from that. Now everything's an addon and presets are just a mechanism for helping addons configure themselves.

So this is an addon and I'd keep your original name!

[2020-09-22 12:50] PaulieScanlon commented on #138
@shilman lovely stuff so...

[code]

[2020-09-23 08:13] PaulieScanlon commented on #138
completed in [#139 ]

[2020-09-23 08:21] #138 closed

[2020-09-23 20:03] PaulieScanlon opened #140 "Storybook Demo"
- Add Storybook Demo that uses `storybook-addon-mdx-embed`

[2020-09-24 08:43] PaulieScanlon commented on #140
work completed in [#141 ]

[2020-09-24 12:47] PaulieScanlon opened #142 "Global Config"
**Is your feature request related to a problem? Please describe.**
Currently all props for all components are applied inline. eg, every time you use a `Tweet` component if you wanted to set the theme to "dark" you'd have to do this:

[code]

**Describe the solution you'd like**
Nicky Meuleman created a defaultProps PR in the old repo: [14](https://github.com/PaulieScanlon/gatsby-mdx-embed/pull/14/

[2020-09-24 13:47] NickyMeuleman commented on #142
Great description! Covered all the bases (at least, the ones that I can see).

The user should be able to define a list of default props to use. (eg. all `Tweet` components have `theme="dark"` by default)
And, as you noted:

(eg. a `Tweet` components can be specified with `theme="light"` inside `.mdx`, that will override the default if it was set to `theme="dark"`.)

---

Without having dove to de

[2020-09-24 14:07] PaulieScanlon commented on #142
@NickyMeuleman Hey mate, yeah bang on, I wanted to run this past you because it was your idea. I'll give it first blast and see where i get to and if you have anymore time i'd welcome more feedback. I'll create a PR in the next few days and we can go from there.

[2020-09-24 14:08] #140 closed

[2020-09-24 23:59] remiroyc commented on #71
Hello 👋  can you assign me to the Wikipedia #127, Youtube #129, Gist #103, and Spotify #115 (unit tests) issues.

[2020-09-25 07:48] PaulieScanlon commented on #71
Hey @remiroyc I've added your name next to the components above! Thanks again for getting involved!

[2020-09-29 13:11] PaulieScanlon opened #145 "Expo / Snack Component"
**Is your feature request related to a problem? Please describe.**
Would be cool to have an Expo snack component

**Describe the solution you'd like**
Using this embed code, create a new  component `<Expo snackId="Nq4IQHtLD"/>` which would render an embeddable Expo widget

[code]

Might have to watch out for the amount of times that `embed.js` code is loaded. The Twitter and Instagram components h

[2020-09-30 04:12] matiasfha commented on #95
@PaulieScanlon @spences10 I will take this and the other buzzpsrout component.. I wrote them anyways, so I owe this tests xD

[2020-09-30 04:13] matiasfha commented on #71
I can take the buzzsprout and egghead ones

[2020-09-30 08:15] PaulieScanlon commented on #71
Hey @matiasfha I've added your name next to the components above in the Unit Test assignment list

Thanks again for getting involved!

[2020-09-30 11:27] JeffersonBledsoe commented on #71
Hey @PaulieScanlon, any chance I can work on the [YouTube](https://github.com/PaulieScanlon/mdx-embed/issues/130) and [Vimeo](https://github.com/PaulieScanlon/mdx-embed/issues/126) integration tests? Maybe the [Twitter](https://github.com/PaulieScanlon/mdx-embed/issues/124) integration tests too?

I'm also happy to work on unit tests for those if they don't get picked up 🙂

[2020-09-30 11:29] PaulieScanlon commented on #71
Hey @JeffersonBledsoe you absolutely can! I'll assign you to the integration tests for now and if you feel like taking on the Unit Tests too please comment again and i'll add your name to the list.

Welcome aboard and thanks from all of us!

[2020-09-30 14:47] JeffersonBledsoe opened #146 "Lerna bootstrap is required after install but not documented/ automatically run if using npm"
**Describe the bug**
The [contributing documentation](https://github.com/PaulieScanlon/mdx-embed/blob/main/CONTRIBUTING.md) suggests that all that is needed to get started is to run `npm install` and `npm run build`, however, `npm install` currently does not install any of the dependencies required in the packages if you use npm instead of yarn.

**To Reproduce**
Steps to reproduce the behavior:
1

[2020-09-30 19:59] PaulieScanlon commented on #79
Whey!!! we did it!

[2020-09-30 19:59] #79 closed

[2020-09-30 20:11] spences10 commented on #79
Here's the video: https://www.youtube.com/watch?v=TzWm_tullLo

Can you add it to the issue pls @PaulieScanlon 🙏

[2020-10-01 03:39] matiasfha commented on #71
I forgot to say I also want to take care of the integration tests for egghead and buzzsprout component (already did xD).
Also. go ahead and shoot me with anything else I can help @PaulieScanlon @spences10 happy to help you a bit more.

[2020-10-01 08:12] #100 closed

[2020-10-01 08:13] #96 closed

[2020-10-01 08:13] #95 closed

[2020-10-01 08:13] #115 closed

[2020-10-01 08:14] #127 closed

[2020-10-01 09:16] xmalinov commented on #71
Hi @PaulieScanlon
Can you assign me to:
- [cinnamon-unit-test #91](https://github.com/PaulieScanlon/mdx-embed/issues/91)
- [codesandbox-unit-test #97](https://github.com/PaulieScanlon/mdx-embed/issues/97)
- [flickr-unit-test #101](https://github.com/PaulieScanlon/mdx-embed/issues/101)
- [instagram-unit-test #105](https://github.com/PaulieScanlon/mdx-embed/issues/105)

[2020-10-01 09:25] PaulieScanlon commented on #71
Hey @xmalinov and welcome aboard! You sure can and i've added you name next to the components above.
Whenever you're ready create a PR and i'll assign the Hacktoberfest label to it.

Thanks for getting involved and please reach out if you have any questions or suggestions!

[2020-10-01 09:27] spences10 commented on #71
Hey @xmalinov thanks for getting involved, could I ask that you maybe pick one to start with then the other issues aren't restricted for other potential contributors?

If no one else want's to pick them you can pick them up after you have completed the current one you're working on?

[2020-10-01 09:31] xmalinov commented on #71
@spences10 noprob, lets start from the cinnamon test

[2020-10-01 10:05] xmalinov commented on #71
@PaulieScanlon @spences10 by the way, unit tests only for presence an iframe with certain id is the bad testing scenario. The iframe can be even with wrong props (tried to check it on spotify). There is only one way to check it - like it was done in buzzsprout tests (by checking props format and types by regexps)

[2020-10-01 10:18] PaulieScanlon commented on #71
@matiasfha Excellent point. I'm not sure there's much we can do other testing for a string. But i do wonder if this is on the user rather than the component. Our integration tests will pick up if when a correct an id is passed via a prop the provider component will load and display but the unit test is really just to ensure that the General Observer puts the child in the dom. It's a tricky situati

[2020-10-01 10:19] spences10 commented on #71
Ok, cool! This is good to know, so take a look at the Buzzsprout PR for guidance @xmalinov?

Also,

I'll backtrack on what I said, @PaulieScanlon's approach will be more flexible so feel free to claim the four you suggested @xmalinov

Thanks

[2020-10-01 10:25] ekafyi commented on #71
Hi @PaulieScanlon @spences10, may I have a go at **Twitter** and **Twitch unit tests** please?

[2020-10-01 10:39] spences10 commented on #71
Hey @ekafyi!

Thanks for joining in! Yes please do!

When you create a PR @PaulieScanlon will assign the Hacktoberfest label to it 🎉

[2020-10-01 12:57] matiasfha commented on #71
@PaulieScanlon I think that the regex thing in the buzzpsrout component can be generalized to some function/hook

like `useValidateId(regex, id)` and returns true or false where  `regex` is defined by the component and id is the id used by the component.. but!.. i still the same logic to shortcircuit the rendering so is not offering anything different to the component itself. Maybe add this type o

[2020-10-01 12:58] matiasfha commented on #71
btw. I already did 4 prs. I can take more if you need or leave it for someone else that want to join to hacktoberfest. let me know

[2020-10-01 13:15] spences10 commented on #71
That's a great shout @matiasfha 🎉

@PaulieScanlon thoughts??

[2020-10-01 14:46] matiasfha commented on #142
So.. for the component this will be exposed just as `useConfigOptions()` hook? Sounds like a good way

[2020-10-01 14:49] matiasfha commented on #71
Maybe, we can add to the testing guidelines to add a prop check for each component and the related test?

[2020-10-01 14:50] matiasfha commented on #74
I think eslint rules can help you with first 4 items there..

[2020-10-01 15:00] PaulieScanlon commented on #71
@matiasfha thanks for the feedback. I'm still not really sure if this kind of check is required. There's no way to check an id will work with any of the providers as they're just strings and i'm just kind of thinking about the usage. If a user puts in an id and nothing renders on the page they'd double check the id until it does. It'll never break their blog post if it's MDX as there's no type che

[2020-10-01 15:27] taylorcjohnson commented on #71
Hi @PaulieScanlon - could I try out the Strava unit #117 and integration #118 tests? I'm trying to get more practice with testing in general, so I may or may not have questions. Feel free to go with another dev if you think that would be a problem!

[2020-10-01 15:41] PaulieScanlon commented on #71
@taylorcjohnson Ahoy and welcome! You're 100% welcome to claim those, and don't worry about skill level we're all happy to help!

[2020-10-01 19:53] matiasfha commented on #71
That sounds good.. I would love to con tribute beyond this month with this project so.. Cound with me in that discussion.

Also if you need help or any other hacktoberfest participant just ping me👍

[2020-10-02 04:18] yenly commented on #71
Hello @PaulieScanlon @spences10 I would like to work on Airtable unit and integration testing if that's ok.

[2020-10-02 05:17] spences10 commented on #71
Hey @yenly, I've added your name against the issues on here, @PaulieScanlon will check it off when the PR is accepted, thanks 🙏

[2020-10-02 07:22] #97 closed

[2020-10-02 07:23] #101 closed

[2020-10-02 07:24] #91 closed

[2020-10-02 07:24] #105 closed

[2020-10-02 07:26] #130 closed

[2020-10-02 17:33] NickyMeuleman opened #160 "Cypress on WSL"
**Describe the bug**
Testing with Cypress errors on Windows for users of the Windows Subsystem for Linux

**To Reproduce**
1. Set up this repo
2. run `yarn cy:test`

**Expected behavior**
Cypress opens in the GUI and runs the tests.

**Screenshots**
See the Hacktoberfest overview video @PaulieScanlon and @spences10 did https://youtu.be/TzWm_tullLo?t=921

**Desktop (please complete the following in

[2020-10-02 17:36] PaulieScanlon commented on #160
@NickyMeuleman Hey mate, this is great! Yeah!! if you're up for creating a PR you could maybe add something in the [CONTRIBUTING.md](https://github.com/PaulieScanlon/mdx-embed/blob/main/CONTRIBUTING.md#integration-tests) somewhere near the *integration-test* details. i'll add a Hacktoberfest label on the PR and you might get your hands on a t-shirt!

[2020-10-03 08:55] #160 closed

[2020-10-03 09:50] #126 closed

[2020-10-03 17:20] spences10 commented on #71
Added unit test for Lbry with #162

[2020-10-03 18:04] #107 closed

[2020-10-04 13:51] ekafyi commented on #121
Hi folks! 👋

As we discussed in the [party-corgi hacktoberfest channel](https://discordapp.com/channels/601625579166367755/745364186346815610/762004299953471498), I have created the following three tests:

- 'it renders the component when provided a twitchId' -- `<Twitch parent="http://localhost:6006/" twitchId="679474192" />`
- 'it renders the component when provided a channel' -- `<Twitch parent

[2020-10-05 19:49] PaulieScanlon commented on #121
Hey @ekafyi Thanks for this. It's a little hard to review as it stands. Would you mind creating a PR and i'll add my review there.

One note however. There's a utility function we've created that provides a mock intersection observer and a method that exposes a mock "scrolled in to view" event so you won't need to do add this yourself.

There's more here on how to setup [unit testing](https://gith

[2020-10-06 07:38] #93 closed

[2020-10-06 07:41] #94 closed

[2020-10-06 18:45] #121 closed

[2020-10-06 19:49] yenly commented on #71
@PaulieScanlon @spences10 I would like to work on SoundCloud unit and integration tests next. 🙂

[2020-10-06 19:52] PaulieScanlon commented on #71
@yenly Hey, that would be brills. I've added your name to the components above!

[2020-10-07 19:56] #108 closed

[2020-10-12 12:54] #113 closed

[2020-10-12 13:03] #111 closed

[2020-10-12 13:04] #112 closed

[2020-10-13 14:42] #114 closed

[2020-10-14 08:20] #123 closed

[2020-10-14 10:58] amercier opened #179 "Whimsical component"
**Is your feature request related to a problem? Please describe.**

N/A

**Describe the solution you'd like**

Would you be interested in [Whimsical](https://whimsical.com/) support? It is a great solution for technical diagrams, so it would fit perfectly in Storybook scenarios, for instance.

Here's a API proposal:

[code]

With:
- `ratio` to be provided by user (defaults to `1:1`)
- `publicLink`

[2020-10-14 15:49] spences10 commented on #179
Hey @amercier this looks great, yeah, by all means make a PR.

If you're feeling up to it create the integration and unit tests as well otherwise we can add them to the Hacktoberfest Umbrella Issue (#71)

Many thanks 👍

[2020-10-14 18:18] yencodes commented on #71
@PaulieScanlon @spences10 I would be happy to help out with more tests but don't want to take them from other Hacktoberfest participants for first good issues. I'm looking to contribute beyond Hacktoberfest so let me know if these doesn't get picked up. I will gladly help.

[2020-10-14 18:21] yenly commented on #71
@PaulieScanlon @spences10 I would be happy to help out with more tests but don't want to take them from other Hacktoberfest participants for first good issues. I'm looking to contribute beyond Hacktoberfest so let me know if these don't get picked up. I will gladly help.

[2020-10-14 18:26] PaulieScanlon commented on #71
Hey @yenly Thanks, i see no harm in doing more if you'd like too. We'd welcome the help and we are just about half way through Hacktoberfest and just about half way through the issues. We may re-assign some of the above issues soon enough as some that have been claimed remain open. Just deciding on how long or what notice we should give those who asked to take on the issue but haven't created PR's

[2020-10-14 18:42] matiasfha commented on #71
Hey @PaulieScanlon @spences10 feel free to assign me some of those issues if no one else (related to hacktoberfest) claims them.
Free and glad to help!

[2020-10-14 18:44] PaulieScanlon commented on #71
Thanks @matiasfha We're a little light on Integration Tests so if you'd like to take on a few of those that would be brills!

[2020-10-14 18:46] matiasfha commented on #71
nice... Later tonight (my night xD) will push some prs for those. I will try to do as many as I can

[2020-10-14 18:47] PaulieScanlon commented on #71
@matiasfha Thanks! Can you let me know which ones and i'll add your name to the list! Ty!

[2020-10-14 18:51] matiasfha commented on #71
Let's say CodeSandbox, Gist, Instagram, Pinterest and Spotify. I think can do at least those today

[2020-10-14 18:56] yenly commented on #71
I can take Twitch & Wikipedia integration tests.

[2020-10-14 20:00] PaulieScanlon commented on #71
@matiasfha Lovely stuff! Thanks so much mate!

[2020-10-14 20:03] PaulieScanlon commented on #71
@yenly super brill, brills. Thanks so much!

[2020-10-15 07:57] #179 closed

[2020-10-15 07:57] spences10 opened #181 "whimsical-unit-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Unit Tests**

[2020-10-15 07:57] spences10 opened #182 "whimsical-integration-test"
Hooray 🎉 thanks for your interest in [MDX Embed](https://mdx-embed.com)

If you'd like to contribute by writing this test please have a read of:

- The [Umbrella Issue](https://github.com/PaulieScanlon/mdx-embed/issues/71)
- The [Acceptance Criteria](https://github.com/PaulieScanlon/mdx-embed/issues/71#acceptance-criteria) for **Integration Tests**

[2020-10-15 14:00] #98 closed

[2020-10-15 17:26] kriswep commented on #71
Can i try the tiktok unit test? That seems to be not taken.

[2020-10-15 17:29] PaulieScanlon commented on #71
Hey @kriswep, you absolutely can and welcome aboard 🚢

I've added your name to the list above. Please do comment on the issue if you have any questions and one of us will get back to ya!

[2020-10-16 07:29] #104 closed

[2020-10-16 09:52] tricinel commented on #71
Hey @PaulieScanlon, is Vimeo's unit tests still up for grabs? #125 :)

[2020-10-16 15:15] kriswep commented on #71
Just added a PR for the tiktok unit test.
Could also make one for Pinterest unit tests, that seems to be unassigned.

[2020-10-16 15:22] #119 closed

[2020-10-16 15:37] PaulieScanlon commented on #71
@kriswep Hey mate, i've added your name to the Pinterest unit test. Ty!

[2020-10-16 15:39] PaulieScanlon commented on #71
@tricinel, Hey, Vimeo unit test is all yours! Let us know if you have any questions! Thanks for getting involved!

[2020-10-17 12:23] kriswep commented on #71
Hey, I just send PR #188 with an unit test for whimsical.

[2020-10-18 07:15] #109 closed

[2020-10-18 07:17] #181 closed

[2020-10-19 10:03] PaulieScanlon commented on #71
@remiroyc Just a friendly nudge. You claimed the YouTube Unit Test, would you still like to take this on. No worries if not we can remove your name from the list and allow other contributors the opportunity to claim it.

[2020-10-19 10:05] PaulieScanlon commented on #71
@taylorcjohnson  Just a friendly nudge. You claimed the Strava Unit Test, would you still like to take this on. No worries if not we can remove your name from the list and allow other contributors the opportunity to claim it.

[2020-10-20 07:41] #125 closed

[2020-10-20 08:30] tricinel commented on #71
@PaulieScanlon just wondering if any of the integration tests for:

- Cinnamon
- Flickr
- TikTok
- Whimsical

are under way? They look unassigned :) Would love to get my hands dirty with cypress a bit (it's a bit new to me, so could learn something 💯 ).

[2020-10-20 09:07] PaulieScanlon commented on #71
Hey @tricinel Yeah 100% of course. I'll add your name to the list about. If you're new to Cypress (as we all are) you might be find the [CONTRIBUTING](https://github.com/PaulieScanlon/mdx-embed/blob/main/CONTRIBUTING.md#integration-tests) doc helpful. We also cover integration tests in the [overview](https://www.youtube.com/watch?v=TzWm_tullLo) video but do let me know if you run to any issues.

[2020-10-20 09:16] tricinel commented on #71
Ok, great thank you! Thanks for the pointers on the resources as well. I'll take a look at everything before diving in today.

[2020-10-20 11:13] tricinel commented on #71
@PaulieScanlon I do have a question regarding the integration tests. I may be doing something wrong, but I'm getting some false positives. For example, on the codepen.spec (https://github.com/PaulieScanlon/mdx-embed/blob/main/cypress/integration/codepen.spec.js#L9), just by changing that selector to something that doesn't exist on the page will still pass the test.

What am I missing?

![Screensho

[2020-10-20 11:29] PaulieScanlon commented on #71
@tricinel Hmmm... that's interesting / alarming 😂 that test should definitely fail. I wonder if there's something funky going on in the `getIframeBody` function... that is a custom helper because Storybook runs in an iframe and it's quite difficult to get at the actual DOM node when it's not in the current window if that make sense. Maybe i need to look in to this.

Feel free to keep working on it

[2020-10-20 11:46] tricinel commented on #71
@PaulieScanlon I though maybe it was something I missed. No worries, I'm looking into it as well. Two pairs of eyes are better than one I guess ;) Appreciate the help and quick reply. Do let me know if you find the missing link and I'll do the same.

[2020-10-20 17:32] tricinel commented on #71
@PaulieScanlon I think I got it working properly now. I might do the cinnamon spec tests and push to my fork for you to check it out. The tests look like this now:

![Screenshot 2020-10-20 at 19 31 06](https://user-images.githubusercontent.com/216008/96623012-37124400-12fa-11eb-8831-4711f2e163fe.png)

[2020-10-20 17:43] tricinel commented on #71
@PaulieScanlon check this out: https://github.com/tricinel/mdx-embed/commit/1347e35f8beea6fbbe271113f48f1882987dce67. Adding this will probably break all existing integration tests (although I think they all or most gave false positives) - but the changes to make them work properly will be minimal. I've added a sanity test to check for false positives as well in the cinnamon spec.

With adding a c

[2020-10-20 17:51] matiasfha commented on #71
I like the addition of a sanity check, maybe that can be added as a command too?
And at least to me the getIframeBody as command makes sense!.. Nice addition!.

@PaulieScanlon I can help you with checking the other integration to check that works with the change  @tricinel is proposing. (during the week)

[2020-10-20 18:24] PaulieScanlon commented on #71
@tricinel This is a beaut! Excellent job! I also like the addition of the Cypress.command. Its kind of similar to one of the Jest utils we have so again super brills job! I guess the only tricky part now is how may CI tests will fail when we merge this in.

As you say though it should be fairly minimal work to correct. We're not planning a new release for a little while anyway so it's not the end

[2020-10-20 18:50] matiasfha commented on #71
Sounds good to me!.

Ping me here or in Discord and we can plan something! Happy to help

[2020-10-20 19:02] tricinel commented on #71
Yeah, sounds good to me. By the way, I did a find and replace in the integration folder for `getIframeBody` to replace with `cy.getIframeBody` and got 41 occurrences. Ran all the tests and got 1 failure, on airtable. I guess we're in a pretty good state.

I'll push in a sec.

[2020-10-20 19:20] tricinel commented on #71
Pushed in #191

[2020-10-20 19:37] taylorcjohnson commented on #71
@PaulieScanlon Yes, apologies for the slow start, but I'd still like to take a crack at it. I can follow-up on Friday if I think I won't be able to help (to allow you to open it back up to other contributors).

[2020-10-20 19:39] #92 closed

[2020-10-20 19:55] tricinel commented on #71
So then the integration tests for Cinnamon should be done now, so I'll move on to the ones for Flickr, TikTok and Whimsical. Cheers!

[2020-10-20 20:08] PaulieScanlon commented on #71
@taylorcjohnson Hey mate, yeah that's totally fine. No real rush just wanted to check you'd still like to take it on. Ty for the response!

[2020-10-21 17:32] #102 closed

[2020-10-21 17:32] #120 closed

[2020-10-21 17:32] #182 closed

[2020-10-21 20:05] yenly opened #194 "Airtable base without controls integration fails"
Cypress finds viewBarContainer in the DOM when controls are turned off. Test should not check for their existence. When controls are off, the viewBarContainer is hidden by CSS. Test should test for styling change to display: none

[2020-10-21 22:57] #128 closed

[2020-10-21 23:19] yenly commented on #71
@PaulieScanlon Twitch player displays "player.twitch.tv refused to connect." when running storybook locally. It works on the deployed site --> https://www.mdx-embed.com/?path=/docs/components-twitch--usage
Not sure how to test when it renders error page in the iframe.

[2020-10-22 07:31] PaulieScanlon commented on #122
This integration test might be a little tricky because the Twitch component requires the `parent` prop.

eg.

[code]

The `parent` prop is what Twitch uses to determine where the Twitch player is making the request from. There's more details [here](https://discuss.dev.twitch.tv/t/twitch-embedded-player-migration-timeline-update/25588) from an update in June 2020

Pay particular attention to this b

[2020-10-22 07:33] PaulieScanlon commented on #71
Hey @yenly Thanks for looking into this. There's more information about this particular integration tests on [issue #122](https://github.com/PaulieScanlon/mdx-embed/issues/122)

[2020-10-23 18:05] yenly commented on #122
It sounds complicated, but I would like to give it a go. 😅 I want to do some homework on it first. Would like to on pair this if possible. I will see who's interested in party corgi since this sounds like a good learning experience.

[2020-10-23 19:25] taylorcjohnson commented on #71
@PaulieScanlon Unfortunately, I won't be able to help with the Strava tests at the moment if you wanted to open it up to other contributors. Apologies - hope this doesn't cause any problems for you!

[2020-10-26 08:21] tricinel commented on #71
I'll have a look at the Strava tests if no one else is up for it. 👍

[2020-10-26 17:17] PaulieScanlon commented on #71
@taylorcjohnson thanks for letting me know, no worries at all! @tricinel if you're up for it then please go ahead. I'll add your name up top! Thanks!!!

[2020-10-26 17:37] will-t-harris commented on #122
Hi @yenly, I reached out in party-corgi but also wanted to connect here. I'd be interested in pairing on this issue if you're still looking for someone.

I have a bit of experience with Cypress and would be excited to learn more. Let me know if you're interested! :+1:

[2020-10-26 18:08] PaulieScanlon commented on #122
Hey @will-t-harris thanks so much for getting involved. I'll be on hand if you two have any questions. This one is a bit of a tricky one so if it's feeling like too much work its totally fine to hand it back over to me. I'm really excited to see the collaboration though so if you both do have time i'd love to see this completed, but completely understand if not.

[2020-10-26 19:09] JeffersonBledsoe commented on #71
@PaulieScanlon Unfortunately I haven't found time & probably won't find any time soon to work on the Twitter integration tests (the local storyboard doesn't display as it does in the live storyboard). Feel free to unassign me so others can work on it :) If it doesn't get picked up again, I'll still try put some time in when I can!

[2020-10-26 19:38] PaulieScanlon commented on #71
@JeffersonBledsoe hey mate, no problems at all. That Twitter one might be a little tricky. Perhaps i'll take that one on. Thanks for letting me know!

[2020-10-26 20:18] #124 closed

[2020-10-27 08:58] PaulieScanlon commented on #71
Hey @remiroyc @tricinel @matiasfha Just a friendly nudge to see if you're still able to take on the tests above. No worries if not it's totally cool if you don't have capacity to do the work. We're hoping to have all tests completed by end of October so if you don't feel you'll have time could you let me know and i'll remove your name so others could potentially contribute.

Thanks in advance!

[2020-10-27 09:00] tricinel commented on #71
Hey @PaulieScanlon, I'll take care of Strava today :)

[2020-10-27 09:00] PaulieScanlon commented on #71
@tricinel lovely stuff! Thanks so much!!

[2020-10-27 18:42] #117 closed

[2020-10-27 18:42] #118 closed

[2020-10-28 04:43] matiasfha commented on #71
@PaulieScanlon I have as WIP the pinterest one. I will work on this before EOW.

[2020-10-29 04:31] will-t-harris commented on #122
Hi there @PaulieScanlon :wave:

@yenly and I spent some time pairing on this test this afternoon and have some questions.

*(Also Yenly, feel free to add anything that I missed here. I took some brief notes after our pairing session, but have been pretty busy since and may have lost some context :sweat_smile: )*

## Here's what we did

We first wanted to see what happened when we hard-coded differ

[2020-10-29 04:45] will-t-harris commented on #122
Hi there @PaulieScanlon :wave:

@Yenly and I spent some time pairing on this test this afternoon and have some questions.

(Also Yenly, feel free to add anything that I missed here. I took some brief notes after our pairing session, but have been pretty busy since and may have lost some context :sweat_smile: )

## Here's what we did

We first wanted to see what happened when we hard-coded differen

[2020-10-29 07:43] PaulieScanlon commented on #122
Hi both, thanks for looking into this. I had a quick google and it looks like parent is without port.

This should work

[code]

FYI the id's that i was using in the examples don't seem to be available online anymore so perhaps we'll need to update the docs with an id of a video that is still available

[2020-10-29 09:10] #129 closed

[2020-10-29 09:12] PaulieScanlon commented on #71
@matiasfha thanks mate. I could take Instagram and Spotify off your hands if you like. We're keen to get this wrapped up today / tomorrow if possible.

[2020-10-29 12:54] matiasfha commented on #71
@PaulieScanlon I just open the PR for pinterest.
I can take Spotify later today and whatever is available.

[2020-10-29 15:16] #116 closed

[2020-10-29 15:18] #110 closed

[2020-10-29 15:19] PaulieScanlon commented on #71
@matiasfha Mega thanks mate! Both Spotify and Pinterest are approved and merged. Just Instagram to go now, but i'm happy to pick this up.
You've done more than your fair share!

[2020-10-29 16:01] will-t-harris commented on #122
That does work, thanks! Now just to investigate how to swap out that prop value depending on the env.

Should we include in our PR a video id that is still available? I suspect that you'll continue to run into this issue periodically since twitch videos aren't permanent (as far as I understand).

[2020-10-29 16:06] PaulieScanlon commented on #122
@will-t-harris  Hey, yes please, update your PR to include a working video.

I think as and when Twitch videos disappear this integration test will fail so we'll be able to catch them prior to publishing the docs.

Here's a link to [Storybook environment-variables](https://storybook.js.org/docs/react/configure/environment-variables) i think this will be somewhat related to what we need.

[2020-10-30 07:33] PaulieScanlon commented on #103
There's a `useEffect` in this component that calls `createScriptTag` and `createStyleSheet` and sets `setGistResponse` hook. These could use some love.

[2020-10-30 07:33] #99 closed

[2020-10-30 22:46] yenly commented on #122
I hardcoded parent to use localhost and got tests to pass. Working on setting env part and I am a bit confused about how. Will come back to it later tonight.

[2020-10-30 23:19] PaulieScanlon commented on #122
Hey @yenly try this:

- Go to `twitch.tsx`, before the `return` pop this in `console.log(' process.env.NODE_ENV: ', process.env.NODE_ENV);`
- Start Storybook `yarn storybook` - have a look at your console, you should see `process.env.NODE_ENV:  development`

I know that when we run `storybook build` Storybook is kicked into "production" mode so this will give us enough to create a ternary conditio

[2020-10-31 00:24] yenly commented on #122
@PaulieScanlon It worked! Thank you so much for the explanation and your guidance. I was on the wrong path of thinking I might need to install dotenv to set the storybook env when as a first step, I tried adding this in ```"storybook:test": "set STORYBOOK_TWITCH_PARENT=local && yarn workspace docs storybook",``` and it didn't work. Anyhow, will be sending PR over soon.

[2020-10-31 00:27] PaulieScanlon commented on #122
@yenly Hooray!!! So pleased that worked! I'll look forward to the PR!

Nice work!

[2020-10-31 00:39] #122 closed

[2020-10-31 10:14] #103 closed

[2020-10-31 10:17] #106 closed

[2020-10-31 10:25] PaulieScanlon commented on #71
Hello everyone, and Happy Halloween 🎃

As of 10.25 this morning (UK time) we have successfully closed 76 issues, and have reached an overall code coverage of 94% which is absolute brills considering we started with 0%

Myself, @spences10  and @molebox would like to thank you for all your hard word, your commitment to the cause and for all being so wonderful to collaborate with. I for one have real

[2020-10-31 10:25] #71 closed

[2020-11-01 20:42] yenly commented on #194
Closing this since the fix is already merged.

[2020-11-01 20:42] #194 closed

[2020-11-03 10:02] spences10 opened #209 "Detail the project being part of Hacktoberfest 2020"
This image is taken from [Tails]

![image](https://user-images.githubusercontent.com/234708/97971776-768d6580-1dbb-11eb-9b58-5967e95223ec.png)

May be a good idea to add something similar to the storybook site

[Tails]:https://devdojo.com/tails

[2020-11-03 10:43] PaulieScanlon commented on #209
@spences10 would we have to say this project "was" part of Hacktoberfest 2020?

[2020-11-03 10:56] spences10 commented on #209
Don't think we _have_ to say, but thought it gives a good indication of it being a welcoming GitHub community project

[2020-11-03 16:32] PaulieScanlon commented on #209
@spences10 yeah got ya, was just curious about what tense to use.

[2020-11-03 17:17] spences10 commented on #209
What about _intense_!??

![](http://www.reactiongifs.com/r/wds.gif)

[2020-11-24 10:17] sgmheyhey opened #210 "mdx-embed: You must install peer dependencies yourself for react@17.x.x"
**Describe the bug**
[code]

with react@17.x.x, the messages are produced. it seems working but the messages should be cleared.

[2020-11-25 22:54] PaulieScanlon commented on #210
Is the problem here that you needed to install React? React is a peer dependancy. Could you elaborate a bit and I’d be happy to investigate

[2020-11-27 12:21] sgmheyhey commented on #210
[code]
The part of my `package.json` file was like the above.

[2020-11-27 12:27] PaulieScanlon commented on #210
Hi @sgmheyhey i still don't really understand the problem. If you've installed the peer dependancies you should be fine. Is your Next project setup to use MDX, i don't see `@next/mdx` in your deps.

I'll close this issue but feel free to open one again if you're still having problems.

[2020-11-27 12:27] #210 closed

[2020-11-27 12:51] sgmheyhey commented on #210
Sorry, I've just edited the above comment.

[2020-11-27 13:02] PaulieScanlon commented on #210
@sgmheyhey could you maybe try installing the peer deps as version numbers: Here's what MDX Embed wants as [peerDependencies](https://github.com/PaulieScanlon/mdx-embed/blob/main/packages/mdx-embed/package.json#L77)

[code]

[2020-11-27 14:18] sgmheyhey commented on #210
They're gone! Thank you!

[2020-11-27 15:33] PaulieScanlon commented on #210
Ok great!

I think the problem was MDX Embed has a peer dependancy of "react: ^16.x.x" and you had installed "react: latest" which would have installed "react 17.x.x".

The difference between "16.x.x." and "17.x.x" with regard to semver is "breaking" so i think there's probably something in "react 17.x.x." that doesn't work with MDX Embed...

...but that's ok. MDX Embed does specify that it's "rea

[2020-12-18 16:36] #146 closed

[2020-12-18 16:36] #209 closed

[2020-12-22 21:03] PaulieScanlon opened #216 "NPM TS badge"
because npm it's now owned by Microsoft it can display a little TS badge to the right of the title on the npm package page. eg [wmr](https://www.npmjs.com/package/wmr)

npm is able to determine if a package is TypeScript by looking to the `"types"` key in `package.json` see here => [Including declarations in your npm package](https://www.typescriptlang.org/docs/handbook/declaration-files/publishin

[2020-12-23 16:28] #216 closed

[2021-02-11 10:14] #145 closed

[2021-03-17 21:55] danielmarin0051 commented on #210
@PaulieScanlon is there any plan to support react 17 in the future?

[2021-03-19 21:50] johackim opened #220 "mdx-embed with @mdx-js/runtime return empty component"
**Describe the bug**

I test mdx-embed with mdx-js/runtime, and It return an empty component.

**To Reproduce**

[code]

**Additional context**

node version : v12.21.0

[2021-03-20 08:53] PaulieScanlon commented on #220
Hey @johackim thanks for opening an issue. I haven't investigated `@mdx-js/runtime` could you share a little more info on how it might differ from `@mdx-js/mdx`

[2021-03-20 09:03] johackim commented on #220
Hello @PaulieScanlon ! Thanks for your response :)

I use `@mdx-js/runtime` directly with nodejs. I build a cli tool to convert markdowns with mdx components to html.

[2021-03-22 17:31] johackim commented on #220
Hello @PaulieScanlon, here a codesandbox to demonstrate the problem : https://codesandbox.io/s/mdx-jsruntime-with-mdx-embed-d73lg

[2021-03-23 07:55] PaulieScanlon commented on #220
@johackim could it be related to this?

https://github.com/mdx-js/mdx/issues/558

The other thing I've been thinking is that all MDX Embed components reply on the Intersection Observer. E.g when a component enters the viewports the child embed script is loaded. Intersection observer is a browser API so it might be that the components are being passed correctly but they won't load because the inter

[2021-03-27 09:09] johackim commented on #220
@PaulieScanlon,

Yes you're right, the [isChildVisible](https://github.com/PaulieScanlon/mdx-embed/blob/08412dc268dafee35044964e404fa4944c0b8e1f/packages/mdx-embed/src/components/general-observer/general-observer.tsx#L12) is set to false by default and it is never set to true when used with nodejs (no browser).

[2021-03-30 07:13] PaulieScanlon commented on #220
Thanks for the update. One thing we could do... and this will probably be part of the ongoing global config work is to allow some kind of config option to turn the intersection observer off. By default it should use intersection observers because this is what keeps MDX Embed "polite" but I guess there's no harm in turning this functionality off if required. I might be able to slip in a quick updat

[2021-04-05 06:38] johackim commented on #220
No, there is no urgent for a single component, a global config option to turn the observer off seems to be a good idea, I will wait for this update :)

Thanks @PaulieScanlon

[2021-04-26 16:36] nickwild-999 opened #225 "Instagram Component"
Thanks for a great library. What is the best way to change the width of the Instagram component?

[2021-04-26 23:39] ebellumat opened #226 "[Feature-Request] Render RAW files from GITHUB, like MD files"
**Is your feature request related to a problem? Please describe.**
I want to create a story with my dependencies list on storybook, example: https://github.com/SConaway/react-native-credit-card-display/blob/master/README.md

I want to render this README.MD on that story without have to copy and paste this MD source code.

A iframe embed would be cool.

**Describe the solution you'd like**
A compon

[2021-09-23 17:43] PaulieScanlon commented on #226
Hey @ebellumat Whilst this is a nice idea i don't think GitHub offer an embeddable solution. MDX Embed unifies Embed services that already exist. We do have an embed component for [Gists](https://www.mdx-embed.com/?path=/docs/components-gist--usage). That's about all we can do at the moment until GitHub create an embed code... on that note if they have please do open another feature request and we

[2021-09-23 17:43] #226 closed

[2021-09-23 17:47] PaulieScanlon commented on #225
Hey @nickwild-999 thanks for the issue. Unfortunately i don't think Instagram provide a way to do this via their embed code. We try not to mess with anything unless it's be exposed as an option from the provider. If you do find Instagram provide a way to do this with their embed code please do let us know but for now i'll close this issue.

[2021-09-23 17:47] #225 closed

[2021-09-23 17:50] spences10 commented on #226
You could render the `.md` file using MDX @ebellumat

Like what @PaulieScanlon said though, that's not in the scope of this project.

[2021-09-23 17:52] spences10 commented on #225
Hey @PaulieScanlon maybe this is a good use case for adding a discussion tab to the project, this could have been asked as a question using the discussions feature rather than an issue. What do you think?

[2021-11-17 23:08] just-andy opened #236 "Gatsby v4"
**Is your feature request related to a problem? Please describe.**
It would be great to see the plugin work with Gatsby v4

**Describe the solution you'd like**
Installed the plugin but getting a dependency issue that this plugin only works with gatsby v3.2

**Additional context**
error in build

_warn Plugin gatsby-plugin-mdx-embed is not compatible with your gatsby version 4.0.1 - It requires ga

[2022-01-07 10:05] andyjakubowski opened #237 "Potentially unnecessary peer dependency?"
Installing `mdx-embed@^0.0.22` with `npm@8.1.2` throws an `ERESOLVE unable to resolve dependency tree` error when `react@^17.0.2` is installed as a dependency of `next@12.0.7`.

I noticed `mdx-embed` lists `react@^16.9.0` as a `peerDependency`. But `@mdx-js/react@^1.6.16` lists `react@"^16.13.1 || ^17.0.0"`. I ran `npm install --legacy-peer-deps mdx-embed` and the embedding seems to work.

Does Re

[2022-01-13 05:39] danestves opened #238 "Is this library still maintained?"
**Is your feature request related to a problem? Please describe.**
I want to know if this library is still maintained and will receive security updates.

**Describe the solution you'd like**
N/A

**Describe alternatives you've considered**
Make that other person maintain the library

**Additional context**
N/A

[2022-02-01 22:41] PaulieScanlon commented on #236
Hi @just-andy i've just released `0.0.23` which has support for Gatsby 4. Lemme know how you get on.

[2022-02-01 22:41] #236 closed

[2022-02-07 01:24] #238 closed

[2022-02-12 14:24] pavi2410 opened #239 "FR: Add replit embed"
**Is your feature request related to a problem? Please describe.**
Add a component to embed repls hosted on replit.com

**Describe the solution you'd like**
Add a new component

**Describe alternatives you've considered**
No

**Additional context**
https://docs.replit.com/hosting/embedding-repls

[2022-02-12 14:24] pavi2410 commented on #239
PR incoming!

[2022-03-08 15:24] thatanjan opened #241 "Custom Loader"
When I embed something like Tweet, I only see `loading` text before it gets loaded.
How can I add a custom Loading component to display on the page?

Thanks in advance.

[2022-03-15 06:25] spences10 commented on #241
You'll need to add in your spinner/loading component into the other side of the turnery function here: https://github.com/PaulieScanlon/mdx-embed/blob/3d56d5771f6d17f4b78543e6a836648232acb976/packages/mdx-embed/src/components/twitter/tweet.tsx#L31

Or for whatever component you want to show a spinner for.

Thanks

[2022-03-15 06:25] #241 closed

[2022-03-16 06:18] thatanjan commented on #241
Thank you so much @spences10

[2022-03-18 13:44] thatanjan commented on #237
I am having the same problem.

My `package.json` file
[code]

![image](https://user-images.githubusercontent.com/71136371/159013512-a3166c8e-4685-486d-8561-3cdbe0916950.png)

If I install the dependencies with ` --legacy-peer-deps` and use `mdx-embed` on my code it gives me this error.

[code]

[2022-03-18 14:09] thatanjan commented on #237
Fixed the problem temporarily. I downgraded mdx and react
[code]

[2022-03-21 16:19] slavakurilyak opened #242 "List Components/Integrations in README"
**Is your feature request related to a problem? Please describe.**
As a developer, I would like to see the currently supported and work-in-progress integrations or components.

**Describe the solution you'd like**
- airtable
- buzzsprout
- cinnamon
- codepen
- codesandbox
- egghead
- figma
- flickr
- general-observer
- gist
- instagram
- lbry
- linkedin
- mdx-embed-provider
- pinterest
- simplecas

[2022-03-23 20:38] slavakurilyak opened #243 "Google Maps Component"
**Is your feature request related to a problem? Please describe.**
Google Maps component for MDX

**Describe the solution you'd like**
I would like to embed Google Maps using MDX

**Describe alternatives you've considered**
iframes

**Additional context**
For inspiration, check out [Google Maps Embed API](https://developers.google.com/maps/documentation/embed/get-started)

![maps](https://user-ima

[2022-05-31 02:42] slavakurilyak opened #245 "Dune Embed"
**Is your feature request related to a problem? Please describe.**
It would be great to see [Dune embeds](https://dune.com)

**Describe the solution you'd like**
Here is on official guide by the Dune team on how to use [embeds and parameterized embeds](https://docs.dune.com/sharing/embeds)

**Describe alternatives you've considered**
Native embeds

**Additional context**
Here is a code snippet exa

[2022-06-01 07:44] spences10 commented on #245
@PaulieScanlon, it looks like Dune is a crypto analytics dashboard thing.

Hey @slavakurilyak if you take a look at the contributing guide it will detail what you need to do to create a component for use in MDX Embed. If you take a look at the other components in the project you can get a good feel for how they are structured.

Thanks

[2022-07-27 11:35] hacktronics opened #246 "Please add YouTube watermark removal to the Youtube component"
var src = "".concat(baseUrl).concat(youTubeId ? "".concat(youTubeId, "?&autoplay=").concat(autoPlay, "&start=").concat(startTime).concat("&modestbranding=1&controls=0") : "&videoseries?list=".concat(youTubePlaylistId));

The src should contain "&modestbranding=1&controls=0" for the Youtube watermark removal in the youtube.js file.

[2022-08-04 08:31] payapula opened #247 "Unable to load mdx-embed after updating to MDX 2"
**Describe the bug**

I am using mdx-embed in my nextjs application along with [next-mdx-remote](https://github.com/hashicorp/next-mdx-remote) package. I have upgraded the next-mdx-remote package to 4.1.0 which has new [MDX 2](https://mdxjs.com/blog/v2/#mdx-2) features. After upgrading I am getting the following error in mdx-embed package

[code]

Since, [MDX 2 migrated to use complete ESM](https:

[2022-08-17 23:18] mbifulco commented on #247
I've been wrestling with this issue for a while myself - @PaulieScanlon is there anything we can do to help here?

[2022-08-18 15:50] PaulieScanlon commented on #247
Hey @mbifulco. I'm close to being able to investigate this. Gatsby released v4 of their plugin earlier this week with MDX 2 support. At present this package is only tested with MDX 1.

Stay tuned!

[2022-10-25 09:12] #239 closed

[2022-11-16 18:33] richburroughs opened #248 "Embedding tweets breaks when the account goes private"
**Describe the bug**
It looks like embedded tweets fail when the account goes private. We use Netlify and our build broke.

I know the person who had made the tweet and she did go private for a bit right before we got the error.

We saw this in the logs:

ERROR 2022/10/31 16:38:49 Failed to get JSON resource "https://api.twitter.com/1/statuses/oembed.json?hide_thread=1&id=1334188913724850177": Fai

[2022-11-21 14:20] spences10 commented on #248
Yeah, good point @richburroughs maybe something in the `twttrLoad`, `util.ts` method to gracefully close out the component!

https://github.com/PaulieScanlon/mdx-embed/blob/main/packages/mdx-embed/src/components/twitter/utils.ts#L7

feel free to contribute if you have another suggestion or discuss it further here.

@PaulieScanlon I presume you're of the same opinion on the suggested approach here?

[2022-11-21 14:55] PaulieScanlon commented on #248
Hi @richburroughs could you provide the full `tweetLink` including the username so i can see what you were seeing.

I'm currently working on upgrading MDX Embed to use MDX 2 and will investigate this issue after i've completed the upgrade.

[2022-11-21 14:55] PaulieScanlon commented on #248
@spences10 thanks babes 😘

[2022-11-21 17:03] richburroughs commented on #248
The link wouldn't help as the person is no longer private. They had just gone private for a few days.

It should be easy to duplicate though by linking to a tweet from any other private account.

Thanks :)

[2022-11-21 17:30] PaulieScanlon commented on #248
Thanks @richburroughs do you have a link to a Tweet from a private account to help me reproduce?

[2022-11-23 11:29] dsebastien commented on #247
Just discovered I also suffer from this issue as I'm trying to migrate to MDX 2. Is there any way for me to help move this forward?

[2022-11-23 23:17] PaulieScanlon commented on #247
@dsebastien Hey. I'm currently in the process upgrading all packages to MDX 2. Hopefully early next week I'll have an alpha cut ready for you to try out.